#  <center> Homework 2 - Due on March 26 </center>

### Question 1
#### a) Read the file birthweight.csv in Pandas using my_data = pd.read_csv('birthweight.csv', skipinitialspace = True) command
This data has various characteristics about newborn baby and his or her parents. <font color = "red">You will need the variable names to answer further questions. </font>
The variable names (in brief) are: row id (id), head circumference (headcircumference), length of baby (length), weight of baby (Birthweight), gestation in months (Gestation), if mother smokes (smoker), age of mother (motherage), number of cigarettes mother smokes per day (mnocig), mother height (mheight), mother prepregnancy weight (mppwt), father age (fage), father education years (fedyrs), number of cigarettes father smokes per day (fnocig), father height (fheight), low birthweith represented as 0 or 1 (lowbwt), mother 35 or older represented as 0 or 1 (mage35), and if birth weight is low or normal (LowBirthWeight).
#### Write commands to perform the following tasks
#### b) Display first 8 rows
#### c) Find the number of rows and columns
#### d) Display the column names
#### e) Find the data type of each column
#### f) Remove all special characters from column names
#### g) Convert all column names to lowercase
#### h) Remove nonnumeric characters from the column headcircumference and convert data into numeric type
#### i) Remove nonnumeric characters from the column gestation and convert data into numeric type

In [49]:
# answer 1a
import numpy as np
import pandas as pd
df = pd.read_csv('birthweight.csv', skipinitialspace = True)


df.columns = df.columns.str.replace('[^0-9a-zA-Z]','',regex = True)
df.columns

df.columns = df.columns.str.lower()
df.columns

df['headcirumference'] = pd.to_numeric(df['headcirumference'].str.replace('[^0-9]','',regex = True))
df['gestation'] = pd.to_numeric(df['gestation'].str.replace('[^0-9]','',regex = True))

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                42 non-null     int64
 1   headcirumference  42 non-null     int64
 2   length            42 non-null     int64
 3   birthweight       42 non-null     float64
 4   gestation         42 non-null     int64
 5   smoker            42 non-null     int64
 6   motherage         42 non-null     int64
 7   mnocig            42 non-null     int64
 8   mheight           42 non-null     int64
 9   mppwt             42 non-null     int64
 10  fage              42 non-null     int64
 11  fedyrs            42 non-null     int64
 12  fnocig            42 non-null     int64
 13  fheight           42 non-null     int64
 14  lowbwt            42 non-null     int64
 15  mage35            42 non-null     int64
 16  lowbirthweight    42 non-null     object
dtypes: float64(1), int64(15), object(1)
memory usage: 5.7+ KB

### Question 2
#### a) Use column names to create a subset with the variables length of baby, birth weight of baby, if mom is smoker (smoker), number of cigarette smoked per day by mom (mnocig) and if the birth weight is low or normal (last column)
#### b) Create the same subset as in 'a' above using column index instead of column name
#### c) Create a subset with first to tenth rows and second, fourth, sixth, eighth, and 10th column
#### d) Select rows where motherage < 30
#### e) Select rows where motherage > 30 and fage > 30
#### f)  Create subset with the columns id, mom number of cigarette (mnocig), dad number of cigarette (fnocig), Gestation, and LowBirthWeight including all the rows with motherage < 30

In [ ]:
# answer 2a
#


# answer 2b...

### Question 3
#### Use groupby() commands to find the following:
#### a) Mean number of cigarettes smoked by mother for all categories of LowBirthWeight
#### b) Mean number of cigarettes smoked by father for all categories of LowBirthWeight
#### c) Mean BirthWeight of baby where mom is smoker
#### d) Mean BirthWeight of baby where dad is a smoker # tricky question
#### e) Mean BirthWeight and mean Gestation period for both LowBirthWeight categories (Low and Normal)

In [ ]:
# answer 3a
#

# answer 3b...
#

### Question 4

#### Write a function named my_stat that takes five numbers as input. Your function should return minimum, mean, median, standard deviation, first quartile (use the function quantile(0.25)), second quartile, third quartile, and maximum. Take the following code as hint which takes 2 numbers as input and returns the mean:

def my_stat(a, b):
           <p>&emsp;my_series = pd.Series([a, b])</p>
           <p>&emsp;my_mean = my_series.mean()</p>
           <p>&emsp;return my_mean</p>
           </br>
           </br>
           my_stat(5,10)

In [ ]:
# answer 4a
#

# answer 4b...
#

### Question 5
#### a) Create the following DataFrame in Pandas. First create dictionary and then convert the dictionary into DataFrame.

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Salary</th>
      <th>Education</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Julio</td>
      <td>Accountant</td>
      <td>65000</td>
      <td>Undergraduate</td>
    </tr>
    <tr>
      <td>Isabella</td>
      <td>Developer</td>
      <td>80000</td>
      <td>Graduate</td>
    </tr>
    <tr>
      <td>Diego</td>
      <td>Data Analyst</td>
      <td>45000</td>
      <td>Associate</td>
    </tr>
    <tr>
      <td>Michael</td>
      <td>Marketing Specialist</td>
      <td>85000</td>
      <td>Graduate</td>
    </tr>
    <tr>
      <td>Luis</td>
      <td>Administrative Assistant</td>
      <td>35000</td>
      <td>High School</td>
    </tr>
    <tr>
      <td>Carmen</td>
      <td>Data Analyst</td>
      <td>90000</td>
      <td>Graduate</td>
    </tr>
    <tr>
      <td>Alejandro</td>
      <td>Developer</td>
      <td>70000</td>
      <td>Undergraduate</td>
    </tr>
  </tbody>
</table>

#### Write code to generate a subset of the DataFrame that contains the specified data:
#### b) Second and fifth row, first and third column
#### c) Everyone with graduate degree
#### d) Average salary of graduate degree
#### e) Sort the data such that the columns are listed in ascending order (based on column name)
#### f) Sort the data based on two columns: Ascending order of Education and Descending order of Salary
#### g) Display rows where Education is either High School, Associate, or Undergraduate

In [ ]:
# answer 5a

# answer 5b ...

### Instructions for Question 6 - 15
The datafile retaildata_res.csv includes the daily transaction of a fast-food restaurant. It has the following variables:
Storecustomers: number of customers visiting the fast-food store
<br> 
<br> SNWD: depth of snow in the ground
<br> Month/Day: month and day of transaction
<br> TAVG: average temperature
<br> TMAX: maximum temperature
<br> TMIN: minimum temperature
<br> Deliveries: number of home deliveries made by the restaurant
<br> Snowonground: if there was snow accumulation on ground (yes/no) 

<br> For most questions, you have to write a few lines commenting/describing your plot. Please do so as comment in your python code.

<br>

#### Import pandas, matplotlib.pyplot and seaborn and then read the retaildata_res.csv dataset:

<br> 
<br> import pandas as pd
<br> import matplotlib.pyplot as plt
<br> import seaborn as sns
<br> my_data = pd.read_csv("retaildata_res.csv")
<br> my_data.info()
<br>

### Question 6

#### Create a boxplot for Deliveries.  Comment on the distribution of number of deliveries made based on your boxplot.

In [ ]:
# importing libraries and reading file - Use the hint above
# 

# ans 6

### Question 7

#### Create boxplot for Deliveries for different days of the week (Day). How does the Deliveries differ for different days of the week?

In [ ]:
# ans 7

### Question 8

#### Create boxplot for Deliveries for different categories of Snowonground. How does the Deliveries differ depending on whether there is snow on ground or not?

In [1]:
# ans 8

### Question 9

#### Add variable Day to the plot in (8) above by passing the variable Snowonground to hue and Day to one of the axes. Comment on the relationship between the 3 variables.

In [3]:
# ans 9

### Question 10

#### Create a scatterplot of SNWD on x axis and Deliveries on y axis. Comment on the relationship between the two variables.

In [ ]:
# ans 10

### Question 11

#### Create the plot between the two variables in (10) using regplot. In what way is this plot more (or less) useful in determining the relationship between the variables?

In [5]:
# ans 11

### Question 12

#### Create a plot that will give you some insight about the categorical variable Snowonground and describe this variable based on your plot.

In [6]:
# answer 12

### Question 13

#### Use FacetGrid to create subplots of regplots between TAVG and Deliveries for different categories of Day and Snowonground. What can you say about the relationship between these 4 variables?

In [7]:
# ans 13

### Question 14

#### Create pairplots to illustrate the correlation between all the numerical variables. Use heatmap to enhance the correlation. Write a few sentences to describe the relationship between the numerical variables.

In [8]:
# ans 14

### Question 15

#### Create appropriate plot/s to explore the relationship between TMAX, and TMIN with Storecustomers.

In [ ]:
# ans 15
#